h2 #{contact.name}

p #[strong Nome:] #{contact.name}
p #[strong Email:] #{contact.email}

div.actions
  form(method='POST', action=`/delete/${contact.id}?_method=DELETE`)
    button(
      type='submit',
      hx-delete=`/delete/${contact.id}`,
      hx-target='#sidebar',
      hx-push-url='/contacts'
      class='link'
    ) Exclua o Contato

  a(
    href=`/contacts/${contact.id}/edit`,
    hx-get=`/contacts/${contact.id}/edit`,
    hx-push-url='true',
    hx-target='#content'
  ) Edite o Contato
